.photoframe-round-with-white-background-table {
	border-collapse:collapse;
}
.photoframe-round-with-white-background-table td {
	padding:0px;
}
.photoframe-round-with-white-background-t {
	background-image:url(t.gif);
	background-position:top;
	background-repeat:repeat-x;
}
.photoframe-round-with-white-background-l {
	background-image:url(l.gif);
	background-position:left;
	background-repeat:repeat-y;
}
.photoframe-round-with-white-background-r {
	background-image:url(r.gif);
	background-position:right;
	background-repeat:repeat-y;
}
.photoframe-round-with-white-background-b {
	background-image:url(b.gif);
	background-position:bottom;
	background-repeat:repeat-x;
}
.photoframe-round-with-white-background-tr div {
	width:33px;
	height:29px;
	background-image:url(tr.gif);
}
.photoframe-round-with-white-background-tl div {
	width:31px;
	height:29px;
	background-image:url(tl.gif);
}
.photoframe-round-with-white-background-br div {
	width:33px;
	height:28px;
	background-image:url(br.gif);
}
.photoframe-round-with-white-background-bl div {
	width:31px;
	height:28px;
	background-image:url(bl.gif);
}
.photoframe-round-with-white-background-content {
	background-color:#FFFFFF;
}
