.photoframe-round-with-gray-background-table {
	border-collapse:collapse;
}
.photoframe-round-with-gray-background-table td {
	padding:0px;
}
.photoframe-round-with-gray-background-t {
	background-image:url(t.gif);
	background-position:top;
	background-repeat:repeat-x;
}
.photoframe-round-with-gray-background-l {
	background-image:url(l.gif);
	background-position:left;
	background-repeat:repeat-y;
}
.photoframe-round-with-gray-background-r {
	background-image:url(r.gif);
	background-position:right;
	background-repeat:repeat-y;
}
.photoframe-round-with-gray-background-b {
	background-image:url(b.gif);
	background-position:bottom;
	background-repeat:repeat-x;
}
.photoframe-round-with-gray-background-tr div {
	width:24px;
	height:22px;
	background-image:url(tr.gif);
}
.photoframe-round-with-gray-background-tl div {
	width:23px;
	height:22px;
	background-image:url(tl.gif);
}
.photoframe-round-with-gray-background-br div {
	width:24px;
	height:26px;
	background-image:url(br.gif);
}
.photoframe-round-with-gray-background-bl div {
	width:23px;
	height:26px;
	background-image:url(bl.gif);
}
.photoframe-round-with-gray-background-content {
	background-color:#FFFFFF;
}
