.photoframe-quote-table {
	border-collapse:collapse;
}
.photoframe-quote-table td {
	padding:0px;
}
.photoframe-quote-t {
}
.photoframe-quote-l {
	background:url(l.gif) center no-repeat;
}
.photoframe-quote-l div {
	width:26px;
	height:38px;
}
.photoframe-quote-r {
	background:url(r.gif) center no-repeat;
}
.photoframe-quote-r div {
	width:26px;
	height:38px;
}
.photoframe-quote-b {
}
.photoframe-quote-tr div {
}
.photoframe-quote-tl div {
}
.photoframe-quote-br div {
}
.photoframe-quote-bl div {
}
.photoframe-quote-content {
	padding:10px;
}
